### List

In [22]:
mylist = [10,20,30,40,50]

In [23]:
type(mylist)

list

In [24]:
len(mylist)

5

In [25]:
mylist[0]

10

In [26]:
mylist[4]

50

In [27]:
mylist[5]

IndexError: list index out of range

In [1]:
mycitylist = ['Seattle','Houston','New York','Chicago']

In [2]:
mycitylist

['Seattle', 'Houston', 'New York', 'Chicago']

In [3]:
type(mycitylist)

list

In [4]:
mycitylist.append('San Francisco')

In [5]:
mycitylist

['Seattle', 'Houston', 'New York', 'Chicago', 'San Francisco']

In [33]:
mycitylist.pop()

'Tacoma'

In [34]:
mycitylist

['Seattle', 'Bellevue', 'Renton', 'Redmond']

In [35]:
mycitylist.pop(1)

'Bellevue'

In [36]:
mycitylist

['Seattle', 'Renton', 'Redmond']

### Tuple

In [55]:
list1 = [10,20,30,40,50]

In [61]:
mytuple = tuple(list1)

In [62]:
mytuple

(10, 20, 30, 35, 50, 60)

In [63]:
type(mytuple)

tuple

In [64]:
mytuple.append(70)

AttributeError: 'tuple' object has no attribute 'append'

In [65]:
mytuple[4] = 65

TypeError: 'tuple' object does not support item assignment

In [66]:
mynewlitfromtuple = list(mytuple)

In [67]:
mynewlitfromtuple

[10, 20, 30, 35, 50, 60]

### Set

In [69]:
list1 = [10,10,10,20,20,30,30,40]

In [70]:
myset = set(list1)

In [71]:
mytuple = (10,20,20)

In [72]:
type(mytuple)

tuple

In [73]:
list1 = [10,10,10,20,20,30,30,40]

In [74]:
myset = set(list1)

In [75]:
type(myset)

set

In [76]:
myset

{10, 20, 30, 40}

### Dictionaries

In [89]:
mydict = {}

In [90]:
type(mydict)

dict

In [91]:
mydict[100] = 'Praba'

In [92]:
mydict

{100: 'Praba'}

In [93]:
mydict[101] = 'John'

In [94]:
mydict

{100: 'Praba', 101: 'John'}

In [95]:
mydict[102] = 'Lisa'

In [96]:
mydict

{100: 'Praba', 101: 'John', 102: 'Lisa'}

In [97]:
mydict[102]

'Lisa'

In [99]:
for k,v in mydict.items():
    print(k,v)

100 Praba
101 John
102 Lisa

In [100]:
for k in mydict.keys():
    print(k)

100
101
102

In [101]:
mydict[102] = 'Sally'

In [102]:
mydict

{100: 'Praba', 101: 'John', 102: 'Sally'}

In [103]:
list1 = ['Praba','Seattle']

In [104]:
mydict[104] = list1

In [105]:
mydict

{100: 'Praba', 101: 'John', 102: 'Sally', 104: ['Praba', 'Seattle']}

In [106]:
mydict[104]

['Praba', 'Seattle']

In [107]:
mydict[104][1]

'Seattle'